<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Edmund Clarke</h1>
    <img src="/img/Edmund Clarke.jpg" alt="Foto de Babbage"/>
    <h2><stron>Edmund Clarke</stron> 1945 - 2020</h2>
    <p>Edmund Melson Clarke, Jr. (Newport News, 27 de julio de 1945 - 22 de diciembre de 2020) fue un informático teórico, profesor universitario, investigador, ingeniero y matemático estadounidense.<br><br> Principalmente reconocido por haber desarrollado el método conocido como "model checking", para verificar diseños de software o hardware.<br> <br>  Clarke fue el Profesor FORE Systems de Ciencias de la Computación en la Universidad Carnegie Mellon. Junto con E. Allen Emerson y Joseph Sifakis, fue el ganador de 2007 del Premio Turing de la Association for Computing Machinery.<br><br>  Falleció el 22 de diciembre de 2020 a los 75 años a causa de COVID-19.1​</p>
</body>
</html>